# Assessment 3

Compare without reply/forward

In [1]:
import glob
import os
import numpy as np
import pandas as pd

First we need to import the data. References 1 & 2 introduced me to glob which then allows us to import all the text documents in one smooth process. We do this below.

In [2]:
from pathlib import Path

corpus = []

for path in Path(r'C:\Users\corri\OneDrive\Documents\GitHub\DST-Assessment-3\Data\All enron unzip').rglob('*.txt'):
        with open(path, errors='ignore') as f_input:
            corpus.append(f_input.read())

In [3]:
df = pd.DataFrame(corpus)

In [4]:
df.head()

                                                   0
0  Legitimate\n----------\n- Owner: farmer-d\n- T...
1            Subject: christmas tree farm pictures\n
2  Subject: vastar resources , inc .\ngary , prod...
3  Subject: calpine daily gas nomination\n- calpi...
4  Subject: re : issue\nfyi - see note below - al...

In [5]:
print(len(df))

27721

While importing the files, we've also imported the summary sheets along with them. These need to be removed as they wont contribute to our overall corpus and we do this below along with reindexing the data set (we could just remove them from the data but this is easy).

In [6]:
df = df.drop([0,5173,11031,16544,21720]) # removing unnecessary entries
nlist = np.arange(0,27717,1) # reindexing
df = df.reindex(nlist)
df = df.drop(0)

In [7]:
df.head()

                                                   0
1            Subject: christmas tree farm pictures\n
2  Subject: vastar resources , inc .\ngary , prod...
3  Subject: calpine daily gas nomination\n- calpi...
4  Subject: re : issue\nfyi - see note below - al...
5  Subject: meter 7268 nov allocation\nfyi .\n- -...

We're going to assign a binary variable for spam vs normal data to our data set to allow us to perform performance analysis later on. This is done simply since we know where the splits will be for spam/normal data will be in our data frame and we do this below by first creating a list of the positions where spam emails are found and then assigning the binary values to our data frame.

In [58]:
z1 = np.arange(3673,5173)
z2 = np.arange(9534,11031)
z3 = np.arange(15043,16544)
z4 = np.arange(18043,21719)
z5 = np.arange(23220,27716)
ze = np.concatenate((z1,z2,z3,z4,z5))

In [59]:
z = np.zeros(27716)
df['normal'] = z
for i in ze:
    df.iloc[i,1] = 1

In [60]:
df.head()

                                                   0  normal
1            Subject: christmas tree farm pictures\n     0.0
2  Subject: vastar resources , inc .\ngary , prod...     0.0
3  Subject: calpine daily gas nomination\n- calpi...     0.0
4  Subject: re : issue\nfyi - see note below - al...     0.0
5  Subject: meter 7268 nov allocation\nfyi .\n- -...     0.0

In [61]:
df_temp = df

In [62]:
for i in range(0,9):
    if i == 8:
        a = df_temp
        locals()['df_{}'.format(i)] = a
    else:
        a = df_temp.sample(n = 2771)
        locals()['df_{}'.format(i)] = a
        l = list(a.index.values)
        df_temp = df_temp.drop(l)
        print(len(df_temp))

24945
22174
19403
16632
13861
11090
8319
5548

### LDA Model

### References

1. [Loading .txt files](https://stackoverflow.com/questions/42407976/loading-multiple-text-files-from-a-folder-into-a-python-list-variable)
2. [Using Glob to retrieve the data](https://stackoverflow.com/questions/2186525/how-to-use-glob-to-find-files-recursively)